fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
pgvector
langchain
langchain-openai
langchain-community
langchain-postgres
pypdf
python-multipart
python-dotenv
httpx
langchain-text-splitters
folium
